#app
{
    font-family: var(--font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#app-content
{
    // Limit max width
    max-width: 1300px;
    text-align: center;
    margin: auto;
}

.theme-default
{
    --unread: #ff6c00;
    --main: #0c6dad;

    --assignment-type-2: #3f991e;
    --assignment-type-3: #ff9900;
    --assignment-type-4: #b02b02;

    --font: 'Avenir', Helvetica, Arial, sans-serif;
}

// ##############
// # Global CSS #
// ##############

.el-card
{
    margin: 10px;
    padding: 0;
}

.el-card.large
{
    height: 494px;
}

// Fix padding
.el-card__body
{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

// Vertical centering
.vertical-center
{
    // Vertical center
    display: flex;
    justify-content: center;
    flex-direction: column;
}
