
// Row
.unread-entry
{
    height: 40px;
    padding: 0 20px 0 20px;
    background: #f5f7fa;

    text-align: left;



    // Grade
    .el-col.grade
    {
        text-align: right;

        span.percent
        {
            font-style: italic;
            background: #ffc;
            color: #555;

            margin-right: 8px;

            .symbol
            {
                padding: 0 1px;
            }
        }

        // Score you got
        span.score
        {
            background: #f2f2f2;
            color: #555;
        }

        // Max score
        span.max
        {
            background: #ddd;
            color: #333;
        }
    }

    .entry-box
    {
        height: 22px;
        padding: 0 5px;
    }
}

.unread-entry:first-child
{
    padding-top: 4px;

    // Top shadow
    // https://stackoverflow.com/questions/17572619/inset-box-shadow-only-on-one-side
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
}
