
.el-menu.centered li
{
    display: inline-block !important;
    float: none !important;
}

// Borders
#navigation
{
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);

    ul
    {
        border-bottom-width: 0;
    }
}

#sign-out-button
{
    // Float right
    position: absolute;
    right: 0;

    // Set width and height
    height: 60px;
    width: 110px;
}

#nav-title
{
    // Float left
    position: absolute;
    left: 0;

    // Set height
    height: 60px;

    // Center text
    align-items: center;

    // Margins
    margin-left: 14px;
    margin-right: 8px;

    // Font
    font-size: 1.25rem;
    display: inline-flex;

}
