
#info
{
    margin: 20px 20px 10px;

    .header
    {
        margin-top: 15px;
        margin-bottom: 10px;

        font-size: 30px;
        color: #8c85ea;
    }

    .content
    {
        margin-bottom: 15px;
    }
}

#course-list
{
    margin-right: 20px;
    height: 70vh;

    .padding-fix
    {
        // Fix width issue
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 4px;
    }

    .header
    {

        .text
        {
            margin-top: 15px;
            margin-bottom: 10px;

            font-size: 24px;
        }

        .search
        {
            margin-bottom: 20px;
        }
    }

    .list
    {
        overflow: scroll;
        overflow-x: hidden;
        height: 377px;
    }

    // Remove scrollbar
    .list::-webkit-scrollbar
    {
        width: 0;
    }

    .item
    {
        text-align: left;
        margin-bottom: 10px;

        background: #fbfbfb;
        border-radius: 4px;
        padding: 5px 10px;

        .name
        {
            // Text too long
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .descriptions
        {
            text-align: right;
            color: #a5a5a5;
        }
    }
}

// Cards
.left
{
    margin-left: 20px;
}
