
// Row
.unread-entry
{
    height: 40px;
    padding: 0 10px 0 20px;
    background: #f5f7fa;

    text-align: left;

    // Date
    .el-col.date
    {
        min-width: 130px;

        span.month
        {
            margin-right: 5px;

            // Unified width
            display: inline-block;
            min-width: 50px;
        }

        span.now
        {
            font-size: 11px;
            color: #888;
        }
    }

    // Description
    .el-col.description
    {
        width: unset;

        span.type
        {
            display: inline-block;

            font-size: 13px;
            font-weight: 700;

            background: #eee;
            border-left: 2px solid #000;

            height: 22px;
            line-height: 22px;

            margin-right: 8px;
        }
    }

    // Grade
    .el-col.grade
    {
        text-align: right;
        float: right;

        span.percent
        {
            font-style: italic;
            background: #ffc;
            color: #555;

            margin-right: 8px;

            .symbol
            {
                padding: 0 1px;
            }
        }

        // Score you got
        span.score
        {
            background: #f2f2f2;
            color: #555;
        }

        // Max score
        span.max
        {
            background: #ddd;
            color: #333;
        }

        // Mark as read
        button.mark-as-read
        {
            margin-left: 8px;
            color: #aaa;
            padding: 4px;
        }
    }

    .entry-box
    {
        height: 22px;
        padding: 0 5px;
    }

    // Unified width
    .entry-box.score, .entry-box.max
    {
        min-width: 30px;
        display: inline-block;
        text-align: center;
    }

    // Unified width
    .entry-box.percent
    {
        min-width: 60px;
        display: inline-block;
        text-align: right;
    }
}

// Narrow layout
.unread-entry.narrow
{
    height: 30px;
}

// Unread
.no-unread
{
    visibility: hidden !important;
    width: 0 !important;
    margin-left: 0 !important;
    padding: 0 0 0 10px !important;
}

.unread-entry:first-child
{
    padding-top: 3px;

    // Top shadow
    // https://stackoverflow.com/questions/17572619/inset-box-shadow-only-on-one-side
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.1);
}
