// Card
.el-card.course-card
{
    // Margins
    margin-right: 20px;
    margin-left: 20px;

    // Height limit
    max-height: 90px;
}

.course-col-name
{
    vertical-align: top;
    text-align: left;

    .course-name
    {
        font-size: 22px;
        color: #0c6dad;
    }
}
