// Card
.el-card.course-card
{
    // Margins
    margin-right: 20px;
    margin-left: 20px;

    // Height limit
    max-height: 90px;
}

.course-col-name
{
    // Align left
    text-align: left;
    float: left;

    .course-name
    {
        // Limit name length
        white-space: nowrap;
        overflow: hidden;

        // Font
        font-size: 22px;
        color: #0c6dad;
    }

    .course-name:hover
    {
        text-decoration: underline;
    }

    .course-teacher
    {
        font-size: 12px;
        color: #999999;
        font-style: italic;
    }
}

.course-col-grade
{
    // Align right
    text-align: right;
    float: right;

    .course-grade
    {
        font-size: 21px;
    }

    .course-updates
    {
        .unread-number
        {
            display: inline-block;
            width: 20px;
            text-align: center;
            border-radius: 5px;

            padding-left: 3px;
            padding-right: 3px;
        }
    }

    .course-updates.unread
    {
        .unread-number
        {
            background: #ff6c00;
            color: white;
            box-shadow: 0 0 5px 0 #ff6123;
        }
    }

    .course-updates.none
    {
        .unread-number
        {
            background: #eeeeee;
            color: #999999;
        }
    }
}

.el-card__body
{
    margin: auto 0;
}
