// Card
.el-card.course-card
{
    // Margins
    margin-right: 20px;
    margin-left: 20px;

    // Limit name length
    white-space: nowrap;

    // Expansion color
    background: #f4f6f9;
}

.course-card-content.expand
{
    // Top shadow
    // https://stackoverflow.com/questions/17572619/inset-box-shadow-only-on-one-side
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.1);
}
