
// Parent div for login
#login
{
    // Make it smaller
    width: 300px;

    // Center
    margin-left: auto;
    margin-right: auto;

    // Input bars
    .el-input
    {
        margin: 5px 0;
    }

    // Button
    .el-button
    {
        margin: 5px 0;
        width: 100%;
    }
}
