
// Parent div for login
#login
{
    // Make it smaller
    width: 300px;

    // Center
    margin-left: auto;
    margin-right: auto;

    // Borders
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 4px black;

    // Input bars
    .el-input
    {
        margin: 5px 0;
    }

    // Button
    .el-button
    {
        margin: 5px 0;
        width: 100%;
    }
}
