
// Add some margins
.el-card
{
    margin: 10px;
    height: 494px;
    padding: 0;

    // Vertical center
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gpa
{
    display: block;
}

.gpa.header
{
    font-size: 14px;
}

.gpa.text
{
    font-size: 35px;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.gpa.time
{
    font-size: 14px;
}
