
// Add some margins
.el-card
{
    margin: 10px;
    padding: 0;

    // Vertical center
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.el-card.large
{
    height: 494px;
}

.gpa-card
{
    margin-left: 20px;
    min-width: 136px;
}

.gpa
{
    display: block;
}

.gpa.header
{
    font-size: 14px;
}

.gpa.text
{
    font-size: 35px;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.gpa.max
{
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #409eff;
}

.gpa.time
{
    font-size: 11px;
}

// Cards
.el-card.overall-bar-card
{
    margin-right: 20px;
    min-width: 170px;
}

// Fix padding
.el-card__body
{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
